<ion-header >
  <ion-toolbar color="primary" >
    <ion-title class="container ion-text-center">SPLASH</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card color="dark">
      <img class="container ion-text-center" src="assets/EPN.jpg">  
    <ion-card-header>
      <ion-card-title  class="container ion-text-center">ESCUELA POLITÉCNICA NACIONAL</ion-card-title>
      <ion-card-subtitle  class="container ion-text-center">EXAMEN PRIMER BIMESTRE</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content  class="container ion-text-center">
      <ion-card-subtitle  class="container ion-text-center">INSTRUCCIONES</ion-card-subtitle>
      Implementar una aplicación en IONIC que demuestre la implemetación de un crud contra firebase. (2 puntos cada item, total 8 puntos)

      La aplicación debe tener además un splash screen (1 punto) y un metodo de autenticación de usuario contra firebebase (1 punto)
      
      Puede trabajar en parejas.
      
      Entregables: Repositorio en github con capturas de pantalla. Defensa del funcionamiento del aplicativo.
    </ion-card-content>
  </ion-card>
</ion-content>
