ion-content ion-toolbar {
  --background: translucent;
}

.centrado{
  text-align: center;
}

img{
  height: 2cm;
  width: auto;
  margin: auto;
  display: block;
}
.my-button{
  position: fixed;
  right: 0;
  bottom: 0;
  margin:10px;
}